---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import PackCard from '../../components/PackCard.astro'

export async function getStaticPaths() {
  const tags = await getCollection('tags');
  return tags.map(tag => ({
    params: { slug: tag.id }, props: { entry: tag },
  }));
}

const { entry } = Astro.props;

const allPacks = (await getCollection('packs', ({ data }) => {
  return data.tags.some(tag => tag.id === entry.id);
}))
---

<Layout title={'#' + entry.data.name}>
  <main>
    <h2 class="title">#{entry.data.name}</h2>
    <ul class="cards">
      {allPacks.map(pack => (
        <PackCard pack={pack} />
      ))}
    </ul>
  </main>
</Layout>
