---
import Layout from '../layouts/Layout.astro'
import PackCard from '../components/PackCard.astro'

import { getCollection } from 'astro:content'

const allPacks = (await getCollection('packs'))

---

<Layout>
  <main>
    <ul class="cards">
      {allPacks.map(pack => (
        <PackCard pack={pack} />
      ))}
    </ul>
  </main>
</Layout>
