<footer>
  <div class="edit">
    Edit and add Starter Packs <a href="https://github.com/Kovah/bluesky-starter-packs">on Github</a>
  </div>
  <div class="copy">
    <div>This website was created by <a href="https://kovah.de">Kevin Woblick</a></div>
    <div class="right">
      Follow me on <a href="https://bsky.app/profile/kevin.woblick.com">Bsky</a>
      and <a href="https://buymeacoffee.com/kevinwoblick">say Thanks</a>
    </div>
  </div>
</footer>

<style>
footer {
  margin-top: 4rem;
}
.copy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
  color: rgb(var(--gray))
}
.right {
  text-align: right;
}
a {
  text-decoration: none;
}
</style>
