<header>
  <a href="/">
    <h1><span class="text-gradient">Bluesky</span> Starter Packs</h1>
  </a>
</header>

<style>
  a {
    color: rgb(var(--black));
    text-decoration: none;
    transition: color 300ms;
  }
</style>
