---
import { getCollection } from 'astro:content'
const allTags = (await getCollection('tags'))
---

<section>
  <ul class="tags">
    {allTags.map(tag => (
      <a href={'/tags/' + tag.id} class="tag">#{tag.data.name}</a>
    ))}
  </ul>
</section>

<style>
  section {
    margin: 4rem auto;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .tag {
    color: rgb(var(--accent));
    text-decoration: none;
  }

  .tag:hover, .tag:focus {
    color: rgb(var(--accent-dark));
    text-decoration: underline;
  }
</style>
